@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@layer base {
  .dark {
    --background: 0 0% 100%;
    /* --background: 20 14.3% 4.1%; */
    /* --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%; */

    --radius: 0.5rem;
  }

  :root {
    --background: 340 60% 1%;
    /* --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%; */

    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;

    --primary-light: 21 84% 53%;
    --primary-light-foreground: 20 84% 59%;

    --primary-lighter: 21 84% 64%;
    --primary-dark: 20 90% 44%;

    --primary-dark-foreground: 20 90% 39%;
    --primary-darker: 31 91% 34%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;

    --radius: 0.65rem;

    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

::selection {
  background-color: #0070f3;
  color: #ffffff;
}

html, body {
  font-family: "Inter", "DM Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  width: 15%;
  height: 120%;
  background: #fff;
  /* border-radius: 5rem; */
  z-index: -1;
  filter: blur(20px);
  opacity: 0.8;
  transform: rotate(20deg);
}

video {
  color: rgba(222, 28, 70, 0.702);
  color: rgba(255, 72, 109, 0.702);
  color: #f97316;
  color: rgb(234, 88, 12);
  color: #ea580c;
  color: #0c0b0b;
  color: #040102;
  color: #0c0a09;
  color: #ee793f;
  @apply to-orange-400
}

.badge-outline {
  /* box-shadow: rgba(234, 88, 12, 0.05) 0px 1px 4px 5px inset, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset, rgba(234, 88, 12, 0.2) 0px 2px 0px 0px inset; */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 4px 2px inset, rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
}

.mask {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.mask-2 {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 125%);
}

/* Define the marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Apply the animation to the list */
.marquee {
  animation: marquee 20s linear infinite;
  /* Adjust duration and timing function as needed */
}

.icon-border {
  box-shadow: inset 0 0 17px rgba(234, 88, 12, 0.9);
}

.inner-shadow {
  box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.2);
}

.tool-shadow {
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.15);
}

.tool-border {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.15);
}

.btn-secondary {
  box-shadow: inset 0 0 12px rgba(234, 88, 12, 0.078);
  backdrop-filter: blur(12px);
}

.btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, rgba(243, 238, 255, 0) 0%, rgba(243, 238, 255, .04) 100%), rgba(147, 130, 255, .01);
  box-shadow: inset 0 -1px 20px rgba(234, 88, 12, 0.098);
}

.btn-secondary:hover {
  box-shadow: inset 0 0 24px rgba(234, 88, 12, 0.18);
}

.btn-secondary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 2px solid rgba(240, 140, 86, .08);
}

/* 404 */
.not-found {
  box-shadow: rgba(234, 88, 12, 0.3) 5px 5px;
}